.novo-estado-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.novo-estado-container .content{
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0  100px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.novo-estado-container .content section{
  width: 100%;
  max-width: 380px;
}

.novo-estado-container section.form{
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.novo-estado-container section.form img{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.novo-estado-container .content section h1{
  margin: 64px 0 32px;
  font-size: 32px;
}

.novo-estado-container .content .formExibir{
  width: 100%;
  max-width: 450px;
}

.novo-estado-container .content .formExibir input{
  margin-top: 8px;
}